<div class="container">
  <div class="container-form">
  <%= simple_form_for(service) do |f| %>
    <div class="product-new text-center">Cadastre de Clientes:</div>
    <div class="form-inputs">
      <%= f.input :title, label: "Serviço" %>
      <%= f.input :description, label: "Descrição" %>
    </div>
    <div class="form-actions text-center">
      <%= f.button :submit, "Enviar" %>
    </div>
  <% end %>
  </div>
</div>
