<div class = "mt-4 mb-2">
  <div class = "mb-3">
    <%= link_to "Voltar", services_path, class: "h5 text-white" %>
  </div>

  <%= react_component("FormEdicaoServico",
                      props: {"data": @service.as_json},
                      prerender: false) %>
</div>
