<div class="container mt-4">
  <div class="clients-list">
      <div class="client-dados">
        <div class="client-information">
          Nome: <%= @service.title %>
          Descrição: <%= @service.description %>
        </div>
        <div class="client-links">
          <%= link_to 'Editar', edit_service_path, class: 'btn btn-primary' %>
          <%= link_to "Excluir", @service, method: :delete, data: { confirm: 'Tem certeza que deseja deletar este cliente?' }, class: 'btn btn-info' %>
        </div>
      </div>
  </div>
</div>
