.order {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 80px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
  padding: 10px;
}

.logo {
  padding: 10px;
  width: 100%;
  align-items: space-around;
  font-size: 25px;
}

.show-order-information {
  border-top: 1px solid black;
  font-size: 15px;
  padding: 10px;
}

.informations {
  padding: 10px;
}

.staff-informations {
  font-size: 15px;
  padding: 10px;
}


.show-order-services {
  font-size: 15px;
  padding: 10px;
}

.show-order-equipments {
  font-size: 15px;
  padding: 10px;
}

.order-location {
  font-size: 15px;
  padding: 10px;
}

