<div class='nested-fields mt-1'>
  <h6>Escolha o equipamento</h6>
  <%= f.select :utensil_id, Utensil.all.map { |utensil| [ utensil.name, utensil.id ] }, include_blank: true, required: true %>
  <%= link_to_remove_association "Remover", f , class: 'btn btn-danger d-block mb-2 mt-2' %>
</div>
