<div class = "mt-4 mb-4">
  <div class = "mb-3">
    <%= link_to "Voltar", sf6_orders_path, class: "h5 text-white" %>
  </div>

  <%= react_component("FormEdicaoOrdemServico",
                      props: {"usuarioAtual": current_user.as_json,
                              "responsaveisTecnicos": @responsaveisTecnicos.as_json,
                              "clientes": @clientes.as_json,
                              "contatoDosClientes": @contatoDosClientes.as_json,
                              "servicos": @servicos.as_json,
                              "maquinas": @maquinas.as_json,
                              "equipamentos": @equipamentos.as_json,
                              "epis": @epis.as_json,
                              "data": {"prestadora": "sf6",
                                       "order": @order,
                                       "cliente": @clienteOrder,
                                       "responsavel": @responsavelOrder,
                                       "contato": @contatoOrder,
                                       "servicos": @servicosOrder.as_json,
                                       "equipamentos": @equipamentosOrder,
                                       "epis": @episOrder.as_json},
                              "linkAcao": "sf6_orders"},
                      prerender: false) %>
</div>
