<div class = "mt-4 mb-4">
  <div class = "mb-3">
    <%= link_to "Voltar", sf6_orders_path, class: "h5 text-white" %>
  </div>

  <%= react_component("ExibicaoOrdemServico",
                      props: {"data": @order,
                              "cliente": @clienteOrder,
                              "responsavel": @responsavelOrder,
                              "contato": @contatoOrder,
                              "servicos": @servicos.as_json,
                              "equipamentos": @equipamentosOrder,
                              "epis": @epis.as_json,
                              "empresa": "sf6",
                              "linkAcao": "sf6_orders"},
                      prerender: false) %>
</div>
