<div class="container mt-4">
  <div class="clients-list">
    <% @equipments.each do |equipment| %>
      <div class="client-dados">
        <div class="client-information">
          Nome: <%= equipment.name %>
        </div>
        <div class="client-links">
          <%= link_to 'Visualizar', equipment_path(equipment), class: 'btn btn-primary' %>
          <%= link_to 'Editar', edit_equipment_path(equipment), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
