<div class="container mt-4">
  <div class="clients-list">
      <div class="client-dados">
        <div class="client-information">
          Nome: <%= @equipment.name %>
        </div>
        <div class="client-links">
          <%= link_to 'Editar', edit_equipment_path, class: 'btn btn-primary' %>
          <%= link_to "Excluir", @equipment, method: :delete, data: { confirm: 'Tem certeza que deseja deletar este cliente?' }, class: 'btn btn-info' %>
        </div>
      </div>
  </div>
</div>
