<div class = "mt-4 mb-2">
  <%= react_component("Lista",
                      props: {"cabecalho": ["Número", "Cliente", "Situação"],
                              "colunas": ["id", "razao_social", "status"],
                              "linkAcoes": "orders",
                              "data": @orders,
                              "maxPorPagina": 5},
                      prerender: false) %>
</div>
