<div class = "mt-4 mb-4">
  <div class = "mb-3">
    <%= link_to "Voltar", users_path, class: "h5 text-white" %>
  </div>

  <%= react_component("Visualizacao",
                      props: {"cabecalho": ["Nome", "Matrícula", "E-mail", "Telefone", "Função", "Administrador",
                                            "Empresa", "Telefone", "E-mail"],
                              "colunas": ["first_name { } last_name", "registration", "email", "phone", "role", "admin",
                                          "razao_social", "phone", "email"],
                              "linkAcoes": "users",
                              "acoes": true,
                              "data": @userDisplay},
                      prerender: false) %>
  <br/>
  <%= react_component("Visualizacao",
                      props: {"cabecalho": ["Empresa", "Telefone Empresa", "E-mail Empresa"],
                              "colunas": ["razao_social", "phone", "email"],
                              "acoes": false,
                              "data": @user.client.as_json},
                      prerender: false) %>
</div>

<!--
<div class="container mt-4">
  <div class="clients-list">
    <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Matrícula</th>
          <th scope="col">Email</th>
          <th scope="col">Telefone</th>
          <th scope="col">Role</th>
          <th scope="col">Administrador</th>
          <th scope="col">Editar</th>
          <th scope="col">Excluir</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">= @user.id %></th>
          <td>= @user.first_name %> = @user.last_name %></td>
          <td>= @user.registration %></td>
          <td>= @user.email %></td>
          <td>= @user.phone %></td>
          <td>= @user.role %></td>
          <td>= @user.admin ? "Admin" : "Usuário" %></td>
          <td>= link_to 'Editar', edit_user_path(@user) %></td>
          <td>= link_to "Excluir", @user, method: :delete, data: { confirm: 'Tem certeza que deseja deletar este usuário?' }, class: 'btn btn-danger' %></td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th scope="col">Empresa</th>
          <th scope="col">Telefone</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>= @user.client.razao_social %></td>
          <td>= @user.client.phone %></td>
          <td>= @user.client.email %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
-->
