<div class="container mt-4">
  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">Número OS</th>
        <th scope="col">Cliente</th>
        <th scope="col">Situação</th>
        <th scope="col">Visualizar</th>
      </tr>
    </thead>
    <tbody>
      <% @vegoor_reports.each do |report| %>
        <tr>
          <th scope="row"><%= report.order.id %></th>
          <td><%= report.order.client.razao_social %></td>
          <td><%= report.order.status ? 'Encerrada' : 'Aberta' %></td>
          <td><%= link_to 'Visualizar', vegoor_report_path(report) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%#= link_to 'Voltar', :back, class: 'btn btn-primary mt-3' %>
</div>
