<div class="footer">
  <div class="footer-links slogan">
    <a href="https://www.vegoor.com.br/" target="_blank" class="slogan" >Vegoor</a>
  </div>
  <div class="slogan">

  </div>
  <div class="footer-copyright">
    <p> </p>
  </div>
</div>
