<div class="footer justify-content-end bg-dark">

  <div class="footer-copyright">
    <%= link_to "https://www.facebook.com/vegoor/", target: "_blank" do %>
      <i class="fab fa-facebook-square"></i>
    <% end %>
    <%= link_to "https://www.instagram.com/vegoor.tec/", target:"_blank" do %>
      <i class="fab fa-instagram"></i>
    <% end %>
    <%= link_to "https://www.linkedin.com/company/vegoor/?viewAsMember=true", target: "_blank" do %>
      <i class="fab fa-linkedin"></i>
    <% end %>
    <%= link_to "https://www.youtube.com/channel/UCfOPtNNh7CfFd4oIeXXKXgA", target: "_blank" do %>
    <i class="fab fa-youtube"></i>
    <% end %>
  </div>

</div>
