<div>
  <div class = "mt-4 mb-3">
    <%= link_to "Voltar", clients_path, class: "h5 text-white" %>
  </div>

  <%= react_component("FormEdicaoCliente",
                      props: {"data": @client.as_json,
                              "estados": STATES},
                      prerender: false) %>
</div>
