<div class = "container mt-4">
  <%= react_component("Lista",
                      props: {"cabecalho": ["Id", "Razão Social", "CNPJ", "Unidade", "Endereço", "Telefone", "E-mail"],
                              "colunas": ["id", "razao_social", "cnpj", "unity", "street{, nº: } number", "phone", "email"],
                              "linkAcoes": "clients",
                              "data": @clients.as_json},
                      prerender: false) %>
</div>
