<div class="container">
  <div class="container-form bg-light">
    <h3 class="text-center">Cadastro de Cliente</h3>
    <%= react_component("FormCadastroCliente", props: {"estados": STATES}, prerender: false) %>
  </div>
</div>
