<div class = "mt-4 mb-4">
  <%= react_component("FormCadastroCliente",
                      props: {"estados": STATES,
                              "idUsuario": current_user.id},
                      prerender: false) %>
</div>
