<div>
  <div class = "mt-4 mb-3">
    <%= link_to "Voltar", utensils_path, class: "h5 text-white" %>
  </div>

  <%= react_component("FormEdicaoEquipamento",
                      props: {"data": @utensil.as_json},
                      prerender: false) %>
</div>
