<div class="container mt-4">
  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Equipamento</th>
        <th scope="col">Visualizar</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
      <% @utensils.each do |utensil| %>
        <tr>
          <th scope="row"><%= utensil.id %></th>
          <td><%= utensil.name %></td>
          <td><%= link_to 'Visualizar', utensil_path(utensil) %></td>
          <td><%= link_to 'Editar', edit_utensil_path(utensil) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%#= link_to 'Voltar', :back, class: 'btn btn-primary mt-3' %>
</div>
