<div class = "mt-4 mb-4">
  <%= react_component("Lista",
                      props: {"cabecalho": ["Id", "Equipamento", "Status"],
                              "colunas": ["id", "name", "status"],
                              "linkAcoes": "utensils",
                              "data": @utensils.as_json},
                      prerender: false) %>
</div>
