<div class="container mt-4">
  <div class="clients-list">
    <% @utensils.each do |utensil| %>
      <div class="client-dados">
        <div class="client-information">
          Nome: <%= utensil.name %>
        </div>
        <div class="client-links">
          <%= link_to 'Visualizar', utensil_path(utensil), class: 'btn btn-primary' %>
          <%= link_to 'Editar', edit_utensil_path(utensil), class: 'btn btn-primary mt-3' %>
        </div>
      </div>
    <% end %>
  <%= link_to 'Voltar', :back, class: 'btn btn-primary mt-3' %>
  </div>
</div>
