<div class="container mt-4">
  <div class="clients-list">
      <div class="client-dados">
        <div class="client-information">
          Nome: <%= @utensil.name %>
        </div>
        <div class="client-links">
          <%= link_to 'Editar', edit_utensil_path, class: 'btn btn-primary' %>
          <%= link_to "Excluir", @utensil, method: :delete, data: { confirm: 'Tem certeza que deseja deletar este cliente?' }, class: 'btn btn-info mt-3' %>
        </div>
      </div>
  </div>
  <%= link_to 'Voltar', :back, class: 'btn btn-primary mt-3' %>
</div>
