<div class="container mt-4">
  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">Número OS</th>
        <th scope="col">Empresa</th>
        <th scope="col">Cliente</th>
        <th scope="col">Situação</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <th scope="row"><%= set_company(order)[0] %></th>
          <th scope="row"><%= set_company(order)[1] %></th>
          <td><%= order.client.razao_social %></td>
          <td><%= order.canceled ? 'Cancelada' : 'Ativa' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>