<div class = "mt-4 mb-4">
  <div class = "mb-3">
    <%= link_to "Voltar", orders_path, class: "h5 text-white" %>
  </div>

  <%= react_component("FormEdicaoOrdemServico",
                      props: {"usuarioAtual": current_user.as_json,
                              "contagem": @contagem,
                              "prestadora": @prestadora,
                              "responsaveisTecnicos": @responsaveisTecnicos.as_json,
                              "clientes": @clientes.as_json,
                              "contatoDosClientes": @contatoDosClientes.as_json,
                              "servicos": @servicos.as_json,
                              "maquinas": @maquinas.as_json,
                              "equipamentos": @equipamentos.as_json,
                              "epis": @epis.as_json,
                              "empresas": @empresas.as_json,
                              "data": {"prestadora": "vegoor",
                                       "order": @order.as_json,
                                       "cliente": @order.client.as_json,
                                       "responsavel": @order.user.as_json,
                                       "contato": @order.contact.as_json,
                                       "servicos": @servicosOrder.as_json,
                                       "equipamentos": @order.utensils.as_json,
                                       "epis": @episOrder.as_json},
                              "linkAcao": "orders"},
                      prerender: false) %>
</div>
