<div class = "mt-4 mb-2">
  <%= react_component("Lista",
                      props: {"cabecalho": ["Número", "Empresa", "Cliente", "Situação"],
                              "colunas": ["id", "empresa", "razao_social", "status"],
                              "linkAcoes": "orders",
                              "data": @orders},
                      prerender: false) %>
</div>


<!--
<div class="container mt-4">
  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">Número OS</th>
        <th scope="col">Cliente</th>
        <th scope="col">Situação</th>
        <th scope="col">Visualizar</th>
      </tr>
    </thead>
    <tbody>
       @orders.each do |order| %>
        <tr>
          <th scope="row">< order.id %></th>
          <td>< order.client.razao_social %></td>
          <td>< order.status ? 'Encerrada' : 'Aberta' %></td>
          <td>< link_to 'Visualizar', order_path(order) %></td>
        </tr>
       end %>
    </tbody>
  </table>
  <= link_to 'Voltar', :back, class: 'btn btn-primary mt-3' %>
</div>
-->
