<div class="container mt-4">
  <div class="clients-list">
    <% @orders.each do |order| %>
      <div class="client-dados">
        <div class="client-information">
          Nome: <%= order.client.razao_social %>
          Número da ordem de Serviço: <%= order.id %>
        </div>
        <div class="client-links">
          <%= link_to 'Visualizar', order_path(order), class: 'btn btn-primary' %>
          <%= link_to 'Editar', edit_order_path(order), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
