<div class="container">
  <div class="users">
    <%= link_to new_client_path do %>
      Cadastro de clientes
    <% end %>
  </div>

  <div class="users">
    <%= link_to clients_path do %>
      Mostrar clientes
    <% end %>
  </div>

</div>
