<div class = "mt-4 mb-4">
  <div class = "mb-3">
    <%= link_to "Voltar", "/orders/" + @idOrdemServico.to_s, class: "h5 text-white" %>
  </div>

  <%= react_component("FormEdicaoRelatorioOrdemServico",
                      props: {"idOrdem": @idOrdemServico,
                              "data": @report.as_json},
                      prerender: false) %>
</div>
