<div class = "mt-4 mb-4">
  <%= react_component("FormCadastroRelatorioOrdemServico",
                      props: {"id": @orderservice.id,
                              "idOrdem": @orderservice.order_id},
                      prerender: false) %>
</div>
