.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 50px;
  position: absolute;
  margin-top: 200px;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer-links {
  display: flex;
  align-items: center;
  text-decoration: none;
}


.footer-copyright p {
 font-family: 'Black Han Sans', sans-serif;
 position: relative;
 bottom: -10px;
}

i {
  color: black;
  opacity: .8;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
