.clients-list {
  display: flex;
}

.client-links {
  display: flex;
  flex-direction: column;
}

.client-dados {
  display: flex;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  justify-content: space-between;
  margin-top: 10px;
}
