.staff-datas {
  display: felx;
  flex-direction: column;
  width: 100%;
}

.staff-information {
  width: 100%;
  flex-direction: column;
}

.staff-links {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
