<div>
  <div class = "mt-4 mb-3">
    <%= link_to "Voltar", machines_path, class: "h5 text-white" %>
  </div>

  <%= react_component("FormEdicaoMaquina",
                      props: {"data": @machine.as_json},
                      prerender: false) %>
</div>
