<div class="container">

  <div class="container-form bg-light">
    <div class = "mb-3">
      <%= link_to "Voltar", machines_path, class: "h5 text-dark" %>
    </div>

    <h3 class="text-center">Edição de Máquina</h3>

    <%= react_component("FormEdicaoMaquina",
                        props: {"data": @machine.as_json},
                        prerender: false) %>
  </div>
</div>
