<div class = "mt-4 mb-4">
  <%= react_component("Lista",
                      props: {"cabecalho": ["Id", "EPI"],
                              "colunas": ["id", "name"],
                              "linkAcoes": "epis",
                              "data": @epis.as_json,
                              "maxPorPagina": 5},
                      prerender: false) %>
</div>
