<div class = "mt-4 mb-4">
  <div class = "mb-3">
    <%= link_to "Voltar", epis_path, class: "h5 text-white" %>
  </div>

  <%= react_component("Visualizacao",
                      props: {"cabecalho": ["Epi"],
                              "colunas": ["name"],
                              "linkAcoes": "epis",
                              "acoes": true,
                              "data": @epi.as_json},
                      prerender: false) %>
</div>

<!--
<div class="container mt-4">
  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Epi</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th scope="row">< @epi.id %></th>
          <td>< @epi.name %></td>
          <td>< link_to 'Editar', edit_epi_path(@epi) %></td>
          <td>< link_to "Excluir", @epi, method: :delete, data: { confirm: 'Tem certeza que deseja deletar este cliente?' }, class: 'btn btn-danger' %></td>
        </tr>
    </tbody>
  </table>
</div>
-->
